* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
  width: auto;
  height: auto;
  overflow-x: hidden;
  margin: 0;
}


.topbar {
  background: #ffdf00;
  display: flex;
  justify-content: space-between;
  padding: 15px 70px;
  font-weight: bold;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center
}

.topbar nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
}

.topbar nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #003a8f;
}

.img-topo{

  background-image: url("/src/assets/imagemCarro.png");
  width: 100%;
  height: 40px;
}

.cards {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  gap: 15px;
  padding: 15px 100px;
}

.card {
  background: linear-gradient(to bottom, #004aad, #003a8f);
  color: white;
  /* padding: 20px; */
  border-radius: 10px;
  width: 22%;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.station {
  padding: 10px ;
  margin: 20px;
}

.station h2 {
  padding: 10px 30px;
}

.station-box {
  display: flex;
  background: white;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  align-items: center;
}

.map {
  width: 200px;
  height: 150px;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.info {
  margin-left: 20px;
}

.button-logout {
  width: 60px;
  margin-top: 10px;
  background: #1a73e8;
  border: none;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 200px;
}

button:hover {
  /* background: #c3cedb; */
  border-color: #ffdf00;
}


.painel-mapa {

  display: flex;
  align-items: stretch;
  justify-content: space-around;
}


/* ============================================================ */